.image-button-container {
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .add-to-cart-btn {
    display: none;
    position: absolute;
    bottom: .5rem;
    margin: 1rem;
  }

  &:hover .add-to-cart-btn {
    display: flex;
  }

  .add-to-cart-btn.hide {
    display: none !important;
  }
}