.table-container table {
    width: 80%;
    border-collapse: collapse;
    margin: 4rem;
}

th,
td {
    padding: 0.5rem 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}


.text-center {
    display: flex;
    width:100%;
    height:100%;
    justify-content: center;
    align-items: center;
}