.table-img {
    width: 50%;
    height: auto;
}

.less-more {
    cursor: pointer;
}

.clear-button {
    border: none;
    background-color: white;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
}