@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

* {
  padding:0;
  box-sizing: border-box;
  margin:0;
}

body {
  margin: 0;
  font-family:  "Coming Soon", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

