.table-wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    & table {
        width: 80%;
        height: 80%;
        text-align: center;

        & thead {
            background-color: red;
            padding: 1rem;

            & tr td {
                padding: 1rem;
            }
        }

        & td .less-more {
            font-weight: bolder;
            cursor:pointer;
        }
        .pointer {
            cursor: pointer;
        }
    }
}