.cart-icon-wrapper {
    position: relative;

    img {
        color: black;
        height: 2rem;
    }

    .item-count {
        font-size: 1rem;
        position: absolute;
        left: 35%;
        top: 35%;
    }
}