.cart-icon-wrapper {
    position: relative;
    .cart-icon-button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem; 
        height: 2rem;

        img {
            width: 2rem;
            height: 2rem;
        }

        .cart-count-badge {
            position: absolute;
            top: .6rem;
            z-index: 1;
        }
    }
}