.cart-icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        color: black;
        height: 2rem;
    }

    .item-count {
        font-size: 1rem;
        position: absolute;
        top: 35%;
    }
}